.courseContainer {
  background: linear-gradient(to right, #f2f2f2, #f2f2f2);
  padding: 3rem 2rem;
  
}

.courseSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.courseContainer .heading {
  text-align: center;
  font-size: 2rem;
  font-family: "Audiowide", sans-serif;
  color: #9B6C90;
}
