.courseContainer {
  background: linear-gradient(to right, #010030, #4b008259);
  padding: 3rem 2rem;
  color: white;
}

.courseSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.courseContainer .heading {
  text-align: center;
  font-size: 2rem;
  font-family: "Audiowide", sans-serif;
  color: #ffffff;
}
